
<header class="encabezado">

    <div class="titulos">
      <h1 class="titulo tipo1">
      <span class="bienvenidos" style="color:white;">Bienvenidos a</span>
      <span class="g3k" title="g3kdigital" style="color:white;">kayi</span>
    </h1>
      <h2 class="titulo tipo2 slogan" style="color:white;">Directorio de Emprendedores</h2>
    
    </div>
    <!--titulos-->

    <figure class="marco ilustracion">
    
   <!-- <img class="imagen" width="250" height="500" src="app/assets/images/primero.png" alt="Portal G3K" />
-->
    <%= image_tag  "primero.png", :alt => "Portal G3K", :class=>"imagen", :width=>"250", :height=>"500", :title => "Emprendedor"%>
    </figure>

  </header>

  <main class="contenido">

    <section class="seccion filosofia fondo1" id="filosofia">
      <header class="titulos">
        <h3 class="titulo tipo3">
      <span class="lang es" style="color:white;">¿Cómo funciona?</span>
     
    </h3>
        <h4 class="titulo tipo4">
      <span class="lang es" style="color:white;">Directorio para emprendedores</ispan>
     
    </h4>
      </header>

      

      <article class="midescripcion dos">
        <p class="parrafo presentacion" style="color:white;"> <b class="nombre">Kayi</b> Es un directorio gratuito en el cual puedes encontrar servicios o empresas creadas por emprendedores de todo Guatemala</b>.</p>
        <p class="parrafo quemegusta" style="color:white;"> <b>Si eres </b>emprendedor <b>y desas que tu empresa o servicio pueda estar incluida en este directorio y ser visible para el público.</b> <a class="pasion" href="#" >Registrate</a></p>
      </article>
      
    </section>
    

<!--Inicio seccion de Emprendimientos-->


  </main>

  