
<header class="encabezado">

    <div class="titulos">
      <h1 class="titulo tipo1">
      <span class="bienvenidos">Bienvenidos a</span>
      <span class="g3k" title="g3kdigital">kayi</span>
    </h1>
      <h2 class="titulo tipo2 slogan">Directorio de Emprendedores</h2>
    
    </div>
    <!--titulos-->

    <figure class="marco ilustracion">
    
   <!-- <img class="imagen" width="250" height="500" src="app/assets/images/primero.png" alt="Portal G3K" />
-->
    <%= image_tag  "primero.png", :alt => "Portal G3K", :class=>"imagen", :width=>"250", :height=>"500", :title => "Emprendedor"%>
    </figure>

  </header>

  <main class="contenido">

    <section class="seccion filosofia fondo1" id="filosofia">
      <header class="titulos">
        <h3 class="titulo tipo3">
      <span class="lang es">¿Cómo funciona?</span>
      <span class="lang en">My PHILOSOPHY</span>
    </h3>
        <h4 class="titulo tipo4">
      <span class="lang es">Directorio para emprendedores</ispan>
      <span class="lang en">Digital Design</span>
    </h4>
      </header>

      

      <article class="midescripcion dos">
        <p class="parrafo presentacion"> <b class="nombre">Kayi</b> Es un directorio gratuito en el cual puedes encontrar servicios o empresas creadas por emprendedores de todo Guatemala</b>.</p>
        <p class="parrafo quemegusta"> <b>Si eres </b>emprendedor <b>y desas que tu empresa o servicio pueda estar incluida en este directorio y ser visible para el público.</b> <a class="pasion" href="#" >Registrate</a></p>
      </article>
      
    </section>
    

<!--Inicio seccion de Emprendimientos-->


  </main>

  <footer class="pie-pagina">

    <div>
    <!--contenedor-->

    <section >
      <div class="grupo">

       

        <a class="etiqueta" for="ctrl-letra-3" href="#">© 2017 Kayi.</a>
        
      </div>
    </section>


  </footer>

